body {
    /* font-family: "Courier New", Courier, monospace; */
    font-family: 'futurabook','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.body-template {
    margin:auto;
    max-width: 60vw;
}

.center {
    text-align: center;
}

.footer-wrap {
    position: relative;
    min-height:75vh;
}